  <div class="row">

        <form class="col s12 ">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="profile_pic" type="text">
                    <label for="profile_pic">Profile Picture URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="location" type="text">
                    <label for="location">Location</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="music_link" type="text">
                    <label for="music_link">Music Link</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="musician" type="text">
                    <label for="musician">Musician (guitar,drums,etc.) </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="primary_instrument" type="text">
                    <label for="primary_instrument">Your Primary Instrument</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="secondary_instrument" type="text">
                    <label for="secondary_instrument">Your Secondary Instrument</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="primary_genre" type="text">
                    <label for="primary_genre">Your Primary Genre</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="secondary_genre" type="text">
                    <label for="secondary_genre">Your Secondary Genre</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="availability" type="text">
                    <label for="availability">Your Availability (Weekends/Weekdays)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                      <i class="mdi-content-send right"></i>
                    </button>
                </div>
            </div>

    </div>
    </form>
    </div> 