      <form id="signup" name="signup" method="post" action="/signup">

        <h6 id="signuptitle">Create a new Admin!</h6>
        </center>

        <br>
        <br>


        <div class="row">
          <!-- name-->
          <div class='col m6'>
            <input class="text form-control mt-3" name="userName" type="text" placeholder="Enter your name" required />
          </div>
        </div>

        <div class="row">
          <!-- email-->
          <div class='col m6'>
            <input class="text form-control mt-3" name="email" type="email" placeholder="Enter email" required />
          </div>
          <!-- password-->
          <div class='col m6'>
            <input name="password" type="password" class="form-control mt-3" id="InputPassword1" placeholder="Password"
              minlength="6" required />
          </div>
        </div>

        
        <br>
        <br>
        <br>
        <!-- sign up -->
        <input class="btn mt-3" type="submit" value="Sign Up" id="sign-up-button" />

      </form>