<div class="container">

    <nav class="blue darken-4" role="navigation">
        <div class="nav-wrapper container">

            <a id="logo-container" class="brand-logo-nav"> <img class="nav-logo" src="/images/logo.png"></a>

            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home </a></li>
                <li><a href="/logout">Logout </a></li>

            </ul>

            <ul id="slide-out" class="sidenav" id="#sidenav">
                <li>
                    <div class="user-view">
                        <a href="/"><button class="btn">Home</button></a>
                        <a href="/signin"><button class="btn">Sign In</button></a>
                        <a href="/signup"><button class="btn">Sign Up</button></a>
                </li>
            </ul>

            <ul id="slide-out" class="sidenav" id="#sidenav">
                <li>
                    <div class="user-view">
                        <a href="/signin"><button class="btn">Signin</button></a>
                </li>
            </ul>

            <a href="#" data-target="slide-out" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>

    <div class="container" id="user-box">
      <div class="row">
        <div class="col s12 m4 l4">
            <h4>Welcome back, <strong><span id="user-name">Liam</span>!</strong></h4>
            <br>
            <img id="user-pic" src="images/musician-stock-photos/4.jpg">
            <a href="#" style="text-decoration:underline;">Edit</a>
        </div>

        <div class="col s12 m4">
          <div class ="container">
            <h4>Your Location:</h4> 
            <br>
            <p><i class="large material-icons">person_pin</i></p>
            <h5><strong><span id="user-location">San Francisco</span></strong></h5>
          </div>
        </div>

        <div class="col s12 m4" id="preferences">
            <h4>Preferences:</h4> 
            <br>
            <p class="prefs"><i class="small material-icons music-icon">music_note</i><strong>Your Genres: </strong><span id="user-genre">Rock, Folk</span></p>
            <p class="prefs"><i class="small material-icons music-icon">playlist_play</i><strong>Your Instruments: </strong><span id="user-instrument">Guitar, Piano</span></p>
        </div>
      </div>
    </div>
                {{!-- <!-- ==================  Modal trigger ================= -->
                <div class="col s12 m4">
                    <span id="profile">
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">PROFILE</a>
                    </span>
                </div>
                <!-- =================================================== --> --}}

    <!-- Liam's code -->
    <div id="bands-container" class="container" style="display:none">
        <h4 id="recommended">Recommended Bands: </h4>
        <ul class="collection" id="bands-box"></ul>

    </div>
    <a class="waves-effect waves-light btn modal-trigger" id="find-my-bands">Get My Jam On!</a>
    {{!-- <button id="show-all-bands">Show All Bands</button> --}}


    {{!-- <!-- ==============================  Modal structure ===============  -->
    <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Musician or Band Name</h4>
          <p>Bio info goes here.</p>
          <p>Lorem ipsum dolor sit amet, duo ut quod corpora. Eos erat feugait ut, sea commune quaestio suscipiantur ne. Ne duo semper eirmod feugiat, iuvaret adipisci his ne. Quo ex albucius salutatus, nec affert quodsi verterem eu. Debet nostrum eam no, mei in vocent corpora imperdiet.
          </p>
        </div>

        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <!-- =================================================================== -->
</div> --}}