  <div class = "container">
  <nav class="blue darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" class="brand-logo-nav"> <img class="nav-logo" src="/images/logo.png"> </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/signin">Sign In </a></li>
                <li><a href="/">Home </a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li>
                    <a href="/signin!"></a>Sign In
                </li>
            </ul>

<ul id="slide-out" class="sidenav" id="#sidenav">
    <li><div class="user-view">
      <a href="/signin"><button class="btn">Signin</button></a>
      </li>
  </ul>

  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></nav>
        <div class="row band">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <div class="col s12 m4 l4">
                            <span id="band-pic">BAND PIC</span></div>
                        <div class="col s12 m4">
                            <span id="location">LOCATION</span></div>
                        <div class="col s12 m4">
                            <span id="genre">GENRE</span></div>
                    <!--</div>-->
                </div>
            </div>
        </div>

    </div>
</div>
</div>