<div class="container">

    <nav class="blue darken-4" role="navigation">
        <div class="nav-wrapper container">

            <a id="logo-container" class="brand-logo-nav"> <img class="nav-logo" src="/images/logo.png"></a>

            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home </a></li>
                <li><a href="/logout">Logout </a></li>

            </ul>

            <ul id="slide-out" class="sidenav" id="#sidenav">
                <li>
                    <div class="user-view">
                        <a href="/"><button class="btn">Home</button></a>

                        <a href="/logout"><button class="btn">Logout</button></a>
                </li>
            </ul>

            <ul id="slide-out" class="sidenav" id="#sidenav">
                <li>
                    <div class="user-view">
                        <a href="/signin"><button class="btn">Signin</button></a>
                </li>
            </ul>

            <a href="#" data-target="slide-out" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>

    <center>
        <ul class="collection" id="bands-box"></ul>
        <a class="waves-effect waves-light btn modal-trigger" id="find-my-bands">Find Bands</a>
    </center>
