  <div class = "container">
  <nav class="blue darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" class="brand-logo-nav"> <img class="nav-logo" src="/images/logo.png"> </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/signin">Sign In </a></li>
                <li><a href="/">Home </a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li>
                    <a href="/signin!"></a>Sign In
                </li>
            </ul>

<ul id="slide-out" class="sidenav" id="#sidenav">
    <li><div class="user-view">
      <a href="/signin"><button class="btn">Signin</button></a>
      </li>
  </ul>

  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">


<div class="container">

  <div id="profile-page-wall-post" class="card">

    <div class="card-profile-title">
      <div class="row">
        <div class="col s10">
          <p class="grey-text text-darken-4 margin">Jam</p>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <p>Name of musician or band goes here.</p>
        </div>
      </div>
    </div>

    <div class="card-image profile-medium">
      <img src="images/gallary/2.jpg" alt="sample" class="responsive-img profile-post-image profile-medium">

      <span class="card-title">Band or Musician Name</span>
    </div>

    <div class="card-content">
      <p>Bio info about band or musician.</p>
    </div>

    <div class="card-action row">
      <div class="col s4 card-action-share">
        <a href="mailto:nowhere@something.org">Email</a>
      </div>
    </div>

  </div>

</div>