  <div class = "container">
  <nav class="blue darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" class="brand-logo-nav"> <img class="nav-logo" src="/images/logo.png"> </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/signin">Sign In </a></li>
                <li><a href="/">Home </a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li>
                    <a href="/signin!"></a>Sign In
                </li>
            </ul>

<ul id="slide-out" class="sidenav" id="#sidenav">
    <li><div class="user-view">
      <a href="/signin"><button class="btn">Signin</button></a>
      </li>
  </ul>

  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">

    <div class="container">
        <h1 class="header center white-text"> <img class="logo" src="images/mainlogo.png"></h1>
        <div class="row center" id="logForm">
            <div class="row">
                <div class="input-field col s12">
                    <input class="text form-control " name="email" type="text" id="userEmail" >
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="password" type="password" id="userPw">
                    <label for="password">Password</label>
                </div>
            </div>
           <button class="btn waves-effect waves-light center blue darken-4 " type="submit" name="action">Submit
                             
                            </button>

            <br><br></div>

    </div>
</div>


