<div class= "container">
    <nav class="blue " role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" class="brand-logo-nav"> <img class="nav-logo" src="/images/logo.png"> </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Sign In </a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li>
                    <a href="#!"></a>Sign In
                </li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="container col s6">



        <form id="signup" name="signup" method="post" action="/signup">

            <!-- <label for="email">Email Address</label> -->
            <input class="text form-control " name="email" type="email" placeholder="Enter email" required/>

            <div class="row">
                <div class="col s12 m6">
                    <!-- <label for="firstname">Firstname</label> -->
                    <input name="firstname" type="text" class="form-control" placeholder="First name" required/>
                </div>
                <div class="col s12 m6">
                    <!-- <label for="lastname">Lastname</label> -->
                    <input name="lastname" type="text" class="form-control " placeholder="Last name" required/>
                </div>
            </div>

            <!-- <label for="password">Password</label> -->
            <input name="password" type="password" class="form-control " id="InputPassword1" placeholder="Password" minlength="6" required/>
            <input name="confirmPassword" type="password" class="form-control" id="InputPassword2" placeholder="Confirm Password" minlength="6" required/>

            <input class="btn " type="submit" value="Sign Up" id="sign-up-button" />

        </form>

    </div>
</div>


