<div class = "container" >
  <nav class="blue darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" class="brand-logo-nav"> <img class="nav-logo" src="/images/logo.png"> </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/signin">Sign In </a></li>
                <li><a href="/">Home </a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li>
                    <a href="/signin!"></a>Sign In
                </li>
            </ul>

<ul id="slide-out" class="sidenav" id="#sidenav">
    <li><div class="user-view">
      <a href="/signin"><button class="btn">Signin</button></a>
      </li>
  </ul>

  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">


  <div class="container" id="signupform">
    <div class="row" id="logForm">
<h2 id="signuph2"> Fill in the information to join. </h2>
        <form class="col s12 ">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="profile_pic" type="text">
                    <label for="profile_pic">Profile Picture URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="location" type="text">
                    <label for="location">Location</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="music_link" type="text">
                    <label for="music_link">Music Link</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="on_lookout">
                        <option value="" disabled selected> Looking for a band?</option>
                                <option value="0"> Yes </option>
                                <option value="1"> No </option>
                         </select>
                    <label for="on_lookout">Looking to join a band?</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select id="primary_instrument">
                        <option value="" disabled selected>Choose your Instrument</option>
                        <option value="guitar">Guitar</option>
                        <option value="piano">Keyboard</option>
                        <option value="drums">Percussion</option>
                        <option value="bass">Bass Guitar</option>
                        <option value="vocals">Vocal</option>
                        <option value="other">Other</option>
                     </select>
                    <label>Primary Instrument</label>
                </div>

                <div class="input-field col s6">
                    <select id="secondary_instrument">
                                <option value="" disabled selected>Choose your Secondary Instrument (optional)</option>
                                <option value="guitar">Guitar</option>
                                <option value="piano">Keyboard</option>
                                <option value="drums">Percussion</option>
                                <option value="bass">Bass Guitar</option>
                                <option value="vocals">Vocal</option>
                                <option value="other">Other</option>
                        </select>
                    <label>Secondary Instrument</label>
                </div>
                <div class="row"></div>
                <div class="input-field col s6">
                    <select id="primary_genre">
                                <option value="" disabled selected>Choose your Genre</option>
                                <option value="blues">Blues</option>
                                <option value="jazz">Jazz</option>
                                <option value="hip-hop">Hip-Hop</option>
                                <option value="folk">Folk</option>
                                <option value="funk">Funk</option>
                                <option value="indie">Indie</option>
                                <option value="punk">Punk</option>
                                <option value="metal">Metal</option>
                                <option value="r&b">R&B</option>
                                <option value="rock">Rock</option>
                                <option value="pop">Pop</option>
                             </select>
                    <label>Primary Genre</label>
                </div>

                <div class="input-field col s6">
                    <select id="seconday_genre">
                            <option value="" disabled selected>Choose your Seconday Genre (optional)</option>
                            <option value="blues">Blues</option>
                            <option value="jazz">Jazz</option>
                            <option value="hip-hop">Hip-Hop</option>
                            <option value="folk">Folk</option>
                            <option value="funk">Funk</option>
                            <option value="indie">Indie</option>
                            <option value="punk">Punk</option>
                            <option value="metal">Metal</option>
                            <option value="r&b">R&B</option>
                            <option value="rock">Rock</option>
                            <option value="pop">Pop</option>
                         </select>
                    <label>Secondary Genre (optional)</label>
                </div>
                <div class="row">
                    <div class="input-field col s12">

                        <select id="availability">
                                <option value="" disabled selected> Look for availablity</option>
                                <option value="weekends"> Weekends </option>
                                <option value="weekdays"> Weekdays </option>
                                </select>
                        <label for="availability">Your Availability (Weekends/Weekdays)</label>
                    </div>
                     <div class="row">
                         <div class="input-field col s12">
                             <input id="password" type="password">
                             <label for="password">Password</label>
                        </div>
                    </div>

                 <div class="row">
                         <div class="input-field col s12">
                             <input id="password" type="password">
                             <label for="password">Password Confirmation</label>
                        </div>
                    </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn blue darken-4 waves-effect waves-light right" type="submit" name="action">Submit
                              <i class="mdi-content-send right"></i>
                            </button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>